
:root {
    --primary-text-color: rgb(27, 61, 54);
    --primary-background-color: #e3cfcf91;
    --primary-decoration-color: #333333a7;
    --secondary-background-color: #baababa4;
    --secondary-decoration-color: #82755ba1;
}


body {
    background-color: var(--secondary-background-color);
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.main {
    margin: 0 auto;
    width: 900px;
    max-width: 85%;
    padding: 2.4em 2.4em 2.4em 2.4em;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 1em 3em 3em 0;
    max-width: 410px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        display: none;
        max-width: 170px;
    }
}

.title * {
    color: var(--primary-text-color);
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 8px solid var(--primary-decoration-color);
    background-color: var(--secondary-background-color);
    height: 100px;
    padding-top: 1em;
}

.footer a {
    color: var(--primary-text-color);
}

.footer .social {
    font-size: 2.4rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: var(--primary-text-color);
}

img {
    max-width: 40%;
    display: block;
    margin: 0 0 0 auto;
    border-radius: 50%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

.nav a {
    color: var(--primary-text-color);
}

.header {
    background-color: var(--secondary-background-color);
    border-bottom: 18px solid var(--secondary-decoration-color);
    max-height: 170px;
    padding-top: 1em;
}
