//Colors
$background-color: rgba(232, 211, 170, 0.645);
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-alternative-color: rgba(212, 188, 141, 0.645);
$background-alternative-color-solid: #ccc1a4;
$background-alternative-light-color: #c6c1c140;
$border-color: #a18e69a1;

//Fonts
$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}
