
.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: $background-alternative-color-solid;
    height: 33.33vh;
    padding-top: 1em;
    max-width: 100%;
    border-bottom: 0.5em solid $border-color;
}

.title,
.logo {
    padding: 1em 2em 2em 0;
    width: 360px;
}

.logo img {
    max-width: 70%;
    display: block;
    margin: 0 0 0 auto;
    border-radius: 50%;
}

