
.img-home {
    max-width: 30%;
    display: block;
    margin: 0 0 0 auto;
}

.img-home {
    img {
        border-radius: 50%;
        max-width: 200px;
    }
}

.img-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6em;
    gap: 10px;

    img {
        border-radius: 10%;
        max-width: 30%;
        display: block;
        margin: 0 0 0 auto;
    }
}

.img-analys img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.img-analys2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.img-analys-design img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

img {
    filter: brightness(75%) contrast(95%);
}

