@media (max-width: 500px) {
    .title {
        padding: 1em;
        min-width: 50%;
        text-align:center;
    }

    .logo {
        display: none;
        max-width: 170px;
    }
}

@media (max-width: 1230px) {
    .main {
        margin: 0 auto;
        max-width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
        box-sizing: border-box;
    }
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 720px) {
    .header {
        max-height: 28.33vh;
    }
}

@media (max-width: 620px) {
    .header {
        max-height: 23.33vh;
    }
}

@media (max-width: 499px) {
    .header {
        max-height: 13.33vh;
    }
}

@media (max-width: 600px) {
    .title p {
        display: none;
    }
}