p {
    font-size: 1.2em;
    font-family: $main-font;
    max-width: 100%;
    margin: 1.96rem auto;
    line-height: 1.6;
    color: $font-color;
    letter-spacing: 1.3px;
    font-weight: 600;
}

h1,
h2,
h3 {
    font-family: $header-font;
}

.social a {
    text-decoration: none;
}

td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $font-color;
}

.title a {
    text-decoration: none;
    color: $font-color-two;
}

.nav ul li a {
    color: $font-color-two;
}

.nav ul li a:hover {
    color: $font-color-hover;
}

.nav-toggle .fa-bars {
    color: $font-color-two;
}

@media (max-width: 400px) {
    p {
        font-size: 1em;
    }
}