//Colors
$background-color: #eacbc9b1;
$font-color: #473938;
$font-color-hover: #c5c9c6;
$font-alternative-color: #fff;
$accent-color: #c76a65;
$background-alternative-color: #90b49e;
$background-alternative-color-supersolid: #b1a7a7;
$background-alternative-color-solid: #799885;
$background-alternative-light-color: #6a9c7d;
$border-color: rgba(91, 111, 99, 0.725);
$sidebar-color: #eacbc9b1;

//Fonts
$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}

$grid-color-1: #a7a493c6;
$grid-color-2: #b588969c;
$grid-color-3: #b3a6aa67;
$grid-color-4: #896d7666;
$grid-color-5: #deb4c19c;
$grid-color-6: #b67d8f4a;
$grid-color-7: rgba(159, 113, 128, 0.603);
$grid-color-8: rgba(190, 177, 181, 0.661);