//Colors
$background-color: #11181300;
$font-color: #ccc;
$font-color-two: #FFF;
$font-color-hover: #fff;
$font-alternative-color: #fff;
$accent-color: #c76a65;
$background-alternative-color: #27312b;
$background-alternative-color-supersolid: #27312b;
$background-alternative-color-solid: #111813;
$background-alternative-light-color: #1f2622;
$border-color: #838383a1;
$sidebar-color: #473b3b4b;

//Fonts
$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}

$grid-color-1: #46443d2d;
$grid-color-2: rgba(80, 61, 67, 0.224);
$grid-color-3: rgba(99, 93, 95, 0.19);
$grid-color-4: #47393e32;
$grid-color-5: #2c24263e;
$grid-color-6: rgba(80, 56, 63, 0.17);
$grid-color-7: rgba(98, 69, 79, 0.283);
$grid-color-8: rgba(80, 76, 77, 0.15);
$grid-color-9: #09090920;